.filters{
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}
.class{
  border:none;
  outline:none;
  font-family:'Roboto';
  font-size:small;
  font-weight: 500;
  background-color: #D9D9D9;
  color: black;
  border-radius: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 1rem;
}
.subject{
  border:none;
  outline:none;
  font-family:'Roboto';
  font-size:small;
  font-weight: 500;
  background-color: #D9D9D9;
  color: black;
  border-radius: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 1rem;
}
.color{
  border:none;
  outline:none;
  font-family:'Roboto';
  font-size:small;
  font-weight: 500;
  background-color: #D9D9D9;
  color: black;
  border-radius: 2rem;
  padding: 0.5rem 0rem 0.5rem 1rem;
  margin-right: 1rem;
}
.price{
  border:none;
  outline:none;
  font-family:'Roboto';
  font-size:small;
  font-weight: 500;
  background-color: #D9D9D9;
  color: black;
  border-radius: 2rem;
  padding: 0.5rem 0rem 0.5rem 1rem;
}